table {
  margin: 0 auto;
  font-weight: normal;
  width: 70%;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: 2px solid black;
  border-top: 2px solid gray;
  border-left: 2px solid gray;
  color: #6a2318;
  background-image: url("../img/background.jpg");
}

th,
td {
  border: 1px solid black;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
}

th {
  background-color: #669966;
}

.orange {
  background-color: #ffcc99;
}

.yellow {
  background-color: #ffff99;
}
